*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poooins',sans-serif;
}
body
{
   color: #ededed; 
}
.header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;

}
.logo {
     position: relative;
     font-size: 35px;
     color: #fff;
     text-decoration: none;
     font-weight: 600;
}
.navbar a{
    display: inline-block;
     font-size: 26px; 
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 2s;
}

.navbar a:hover{

    color: #0ef;
  
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(Untitled\ design.jpg)no-repeat;
    background-size:cover ;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content{
    font-size: 32px;
    font-size: 700;
   margin: -3px;
}
.home-content p{
    font-size: 20px;

}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px;
    border-radius: 30%;
    font-size: 20px;
    color: rgb(12, 86, 223);
    text-decoration: none;
    margin: 30px 15px 30px 0;

}
.home-sci a:hover{
    background: rgb(9, 192, 238);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #0ef;

}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(94, 255, 0);
    border-radius: 50px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px,
    0 0 100px cyan, 0 0 200px cyan;
}


.Typewriter__cursor {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
}